# http://ddollar.github.com/foreman/
ASSET_HOST=localhost:3000
HOST=localhost:3000
RACK_ENV=development
SECRET_KEY_BASE=development_secret
ADMIN_USER=foo
ADMIN_PASSWORD=bar
PUSH_NOTIFICATION_CERTIFICATE_PATH=/path/to/certificate
API_SECRET=api-token
