<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-success">
      <strong>Great!!! </strong>Thank you for adding the conference.
      It will soon be available.
      <%= fa_icon "check 2x" %>
    </div>
    <%= link_to "Back to home page", root_path, class: "btn btn-primary btn-xs center"%>
  </div>
</div>
