<div class='container'>
  <div class='page-content'>
    <div class='app-copy'>
      <%= image_tag "icon.png", class: "app-icon" %>
      <h1>Ruby Conferences</h1>
      <p>
        List of Ruby Conferences
      </p>
      <p>
        Support: <%= mail_to "conferences@inruby.org" %>
      </p>
    </div>
    <%= image_tag "iphone.png", class: "iphone" %>
  </div>
</div>
