<div class='container'>
  <div class='page-content'>
    <div class='app-copy'>
      <%= image_tag "icon.png", class: "app-icon" %>
      <h1>Ruby Conferences</h1>
      <p>
        List of Ruby Conferences happening around the world.
      </p>
      <p>
        Get notified when a new Ruby Conference announced.
      </p>
      <p>
        Support: <%= mail_to "conferences@inruby.org" %>
      </p>
    </div>
    <div class="iphone">
      <%= image_tag "iphone.png" %>
    </div>
  </div>
</div>
